<search-donor-form
  [bloodGroupSeachBox]="bloodGroupSeachBox"
  (donerSearchSubmitted)="donerSearchSubmitted($event)"
></search-donor-form>
<blood-bank-doners-list
  [donorsInformation]="donorsFilteredList"
  (sendSmsClicked)="sendSmsClicked($event)"
  (sendEmailClicked)="sendEmailClicked($event)"
  (sendBulkSmsClicked)="sendBulkSmsClicked($event)"
  (sendBulkEmailClicked)="sendBulkEmailClicked($event)"
></blood-bank-doners-list>
<blood-bank-map
  class="home-map-section"
  [markerDetails]="markerDetails"
></blood-bank-map>
