.home-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.view-toggler {
  display: flex;
  justify-content: space-between;
}

.search-result {
  width: 987px;
  margin: 0 auto;
  margin-bottom: 50px;
}