// component css goes here
.search-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  .search-field {
    margin-left: 15px;
  }

  .reset-icon {
    margin-top: 10px;
  }
}
