<div class="registration-form-card">
  <mat-card>
    <mat-card-title class="registration-form-card-title"
      ><span>Save a Life Today!</span></mat-card-title
    >
    <mat-card-content>
      <form
        class="registration-form"
        [formGroup]="registrationForm"
        #formDirective="ngForm"
      >
        <mat-form-field class="full-width">
          <mat-label>Name</mat-label>
          <input
            formControlName="name"
            matInput
            placeholder="Name name"
            name="fname"
            required
          />
          <mat-error *ngIf="registrationForm.get('name').hasError('required')">
            This field is required
          </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width">
          <mat-label>Email</mat-label>
          <input
            matInput
            placeholder="Email"
            formControlName="email"
            name="email"
            required
          />
          <mat-error *ngIf="registrationForm.get('email').hasError('required')">
            This field is required
          </mat-error>
          <mat-error *ngIf="registrationForm.get('email').hasError('email')">
            Invalid email
          </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width">
          <mat-label>Contact Number</mat-label>
          <input
            formControlName="phoneNumber"
            matInput
            placeholder="Phone Number"
            name="number"
            required
          />
          <mat-error
            *ngIf="registrationForm.get('phoneNumber').hasError('required')"
          >
            This field is required
          </mat-error>

          <mat-error
            *ngIf="registrationForm.get('phoneNumber').hasError('minlength')"
          >
            Phone Number must be at least 10 characters long.
          </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width">
          <mat-label>Blood Group</mat-label>
          <mat-select formControlName="bloodGroup" required>
            <mat-option
              *ngFor="let bloodGroup of bloodGroupSeachBox"
              [value]="bloodGroup.value"
            >
              {{ bloodGroup.viewValue }}
            </mat-option>
          </mat-select>
          <mat-error
            *ngIf="registrationForm.get('bloodGroup').hasError('required')"
          >
            This field is required
          </mat-error>
        </mat-form-field>

        <div class="address-box">
          <mat-form-field>
            <mat-label>Permanent Address</mat-label>
            <input
              matInput
              formControlName="permanentAddress"
              placeholder="Permanent Address"
              name="paddress"
              readonly
              required
            />

            <mat-error
              *ngIf="
                registrationForm.get('permanentAddress').hasError('required')
              "
            >
              This field is required
            </mat-error>
          </mat-form-field>

          <button
            type="button"
            class="addressButton"
            mat-raised-button
            (click)="openMap('permanent')"
            color="primary"
          >
            Choose a permanent address
          </button>
        </div>

        <div class="address-box temporaray">
          <mat-form-field>
            <mat-label>Temporary Address</mat-label>
            <input
              readonly
              matInput
              formControlName="temporaryAddress"
              placeholder="Temporary Address"
              name="taddress"
              required
            />
            <mat-error
              *ngIf="
                registrationForm.get('temporaryAddress').hasError('required')
              "
            >
              This field is required
            </mat-error>
          </mat-form-field>

          <button
            type="button"
            class="addressButton"
            mat-raised-button
            (click)="openMap('temporary')"
            color="primary"
          >
            Choose a Temporary address
          </button>
        </div>

        <mat-form-field class="full-width">
          <mat-label>Last Donated at</mat-label>
          <input
            matInput
            formControlName="lastDonated"
            [matDatepicker]="basicDatepicker"
            [max]="yesterday"
          />
          <mat-datepicker-toggle
            [for]="basicDatepicker"
          ></mat-datepicker-toggle>
          <mat-datepicker #basicDatepicker></mat-datepicker>
          <mat-error
            *ngIf="registrationForm.get('lastDonated').hasError('required')"
          >
            This field is required
          </mat-error>
        </mat-form-field>

        <mat-card-actions>
          <button mat-raised-button (click)="register()" color="primary">
            Register
          </button>
        </mat-card-actions>
      </form>
    </mat-card-content>
  </mat-card>
</div>
