// component css goes here
.registration-form-card {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  .registration-form-card-title {
    text-align: center;
  }
}

.registration-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.full-width {
  width: 100%;
}

.address-box {
  display: flex;
  .addressButton {
    margin-left: 10px;
  }
  &.temporaray {
    margin-top: 20px;
  }
}
