/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "../node_modules/ngx-toastr/toastr.css";

@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600&display=swap");

$primary-font-family: "Source Sans Pro", sans-serif;

html,
body {
  font-family: $primary-font-family;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.mat-button.mat-primary {
  color: #8a0303;
}

.mat-raised-button.mat-primary,
.mat-flat-button.mat-primary {
  background-color: #8a0303;
  color: white;
}

.mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background: #8a0303;
}
