table {
  width: 100%;
  margin-top: 40px;
}

.no-records {
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
}

.action-link {
  a {
    padding-bottom: 1px;
    border-bottom: 1px solid #8d8df3;
    color: #8d8df3;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
  }
}

.bulk-button {
  margin-left: 40px;
}
